/* Initializing with the following values for a general state */
* {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Makes the scroll smooth */
html {
  scroll-behavior: smooth;
}

/* Sections are displayes as blocks now (has width and height properties now). */

section {
  display: block;
}

/* Main header animation. Changes in ipacity and scale. */
@keyframes welcoming_h1 {
  from {
    /* Set starter opacity to 0 */
    opacity: 0%;
    /* 3d scaling the h1 (x, y, z)*/
    transform: scale3d(0.75, 0.75, 1);
  }
  to {
    /* Set final opacity to 100% */
    opacity: 100%;
    /* 3d scaling the h1 (x, y, z)*/
    transform: scale3d(1, 1, 1);
  }
}

/* Makes the arrow move up */
@keyframes move_arrow {
  from {
    bottom: 0px;
  }
  to {
    bottom: 50px;
  }
}

/* Side slide the info divs */
@keyframes slide_info {
  from {
    opacity: 0%;
    right: 110px;
  }
  to {
    opacity: 100%;
    right: 0px;
  }
}

/* Main section, containing the first seen elements. */
.first_section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #869fc7;
}

/* Attributing the welcoming_h1 animation to h1. */
h1 {
  color: white;
  font-size: 50px;
  text-shadow: 3px 3px 2px black;
  text-align: center;
  /* By using the cubic-bezier you can provide the traject of the scale. */
  /* https://cubic-bezier.com */
  /* The animation will last x seconds. */
  animation: welcoming_h1 0.9s cubic-bezier(0.4, 0.31, 0.53, 1.32);
  /* Informing were the transformation should begin / end. */
  /* AKA: Jumping effect. */
  transform-origin: bottom center;
}

/* Div containing the main h1 */
.main_h {
  margin-top: 150px;
  height: 30%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SVG link */
.arrow {
  width: 85px;
  height: 85px;
  border-radius: 100%;
  background-color: lightgreen;
  /* Keeping the clickable area within the svg circle */
  display: inline-block;
  margin-bottom: 50px;
  background-image: url(../../../media/down-arrow-black-circular-button.svg);
  background-size: cover;
  position: relative;
  /* Appending the animation, infinite loop. 
  Duration of 2 seconds, easy-in-out. */
  animation: move_arrow 2s alternate ease-in-out;
  animation-iteration-count: infinite;
}

/* Information section */
.second_section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: lightgreen;
}

/* Informations DIV */
.informations {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Divs that contains the info items. */
.info_items {
  font-size: 25px;
  width: 100%;
  height: calc(100% / 3);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Class that triggers the animation. */
.info_items_animation {
  position: relative;
  animation: slide_info 2s ease-in-out;
}

/* Styling the footer. */
footer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}

/* Styling the footer's div. */
.footer_div {
  height: 200px;
  width: 260px;
  padding: 8px;
  display: flex;
  flex-wrap: nowrap;
  color: white;
  font-size: 25px;
  border: 3px solid white;
}

/* Make it responsible for IpadPro. */
@media only screen and (min-height: 1200px) {
  h1 {
    font-size: 80px;
  }
  img {
    width: 150px;
    height: 150px;
  }
  .info_items {
    font-size: 50px;
  }
  .footer_div {
    width: 900px;
    height: 600px;
    font-size: 50px;
  }
}

/* Make it responsible for desktop. */
@media screen and (max-height: 700px) {
  h1 {
    font-size: 80px;
  }
  .arrow{
    width: 50px;
    height: 50px;    
  }
  img {
    width: 100px;
    height: 100px;
  }
  .info_items {
    font-size: 45px;
  }
  .footer_div {
    font-size: 25px;
    width: 40%;
    height: 20%;
  }
}
