* {
  padding: 0px;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../../media/grass.jpg);
  /* Blurring the background. Applies behind the element... */
  backdrop-filter: blur(9px);
  background-size: cover;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  background-color: rgba(0, 0, 0, 0.65);
}

.title {
  margin-top: 7%;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.year_title {
  margin-left: 5px;
  font-size: 40px;
  letter-spacing: 5px;
  color: lightsalmon;
  text-align: center;
}

.month_title {
  margin-left: 15px;
  font-size: 25px;
  letter-spacing: 15px;
  text-align: center;
}

.calendar {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.month_days {
  margin-top: 10px;
  width: 100%;
  height: 50%;
}

table {
  width: 100%;
  font-size: 22px;
}

tr,
th,
td {
  background-color: none;
}

th {
  width: calc(100% / 7);
  text-align: center;
  color: white;
}

td {
  width: calc(100% / 7);
  height: 51px;
  color: white;
  text-align: center;
  border-radius: 50%;
}

td:hover {
  background-color: rgba(255, 155, 67, 0.657);
}

.today {
  background-color: lightsalmon;
}

.data {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 38%;
  background-color: rgba(255, 255, 255);
  border: none;
  border-radius: 5px;
}

.data_content{
  width: 95%;
  height: 95%;
}

.cancel_background {
  background: none;
}

.buttons {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  font-size: 35px;
  font-weight: 400;
  color: white;
}

@media only screen and (min-width: 1080px) {
  td {
    width: 50px;
    height: 133px;
  }
}
